<!doctype html>
<title>StartPage {% block head %}{{ headname }}{% endblock %}</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
  <h1>StartPage {% block title %}{{ titlename }}{% endblock %}</h1>
  <div class=metanav>
    {% if not session.logged_in %}   
       <a href="#">登录</a>
    {% else %}
      <a href="#">注销</a>
    {% endif %}
  </div>
    {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
    {% endfor %}
    {% block body %}{% endblock %}
    <div class=footer>&copy; CopyRight By BirdBird E_mail:me@birdbird.net{% block footer %}{% endblock %}</div>
</div>